{% extends "include/base-iteraction.html" %}

{% block content %}
    <div class="row position-sticky mb-auto">
        <div class="text-wrap text-break">
            {{ answer.text }}
        </div>
    </div>
    <div class="row container">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value='' id="flexCheckDefault2">
            <label class="form-check-label" for="flexCheckDefault2">
                Correct!
            </label>
        </div>
    </div>
{% endblock content %}