{% load static %}

<div class="col-4">
    <img src="{{ request.user.profile.avatar.url }}" class="rounded-circle">
</div>
<div class="col-8">
    <div class="row">
        <div class="col-12 nav-link active p-0">Username</div>
        <div class="w-100"></div>
        <a class="text-dark col-4 p-0" href="{% url "settings" %}">Settings</a>
        <div class="col-2 p-0"></div>
        <a class="text-dark col-4 p-0" href="{% url "logout" %}">Log out</a>
    </div>
</div>