<div class="container mb-3 mt-3">
    <div class="bg-light p-3 rounded">
        <div class="row">
            <div class="col-3">
                {% include "include/iteraction-info.html" %}
            </div>
            <div class="col-9 align-items-md-start flex-column d-flex">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</div>