{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AskChumakov</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
</head>
<body>

{% include "include/navbar.html" %}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="col-4">
                {% block side %}
                    {% include "include/tags.html" %}
                    {% include "include/members.html" %}
                {% endblock side %}
            </div>
        </div>
    </div>
</main>
<script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
<script src="{% static "js/csrf.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "js/centrifuge.min.js" %}"></script>
<script src="{% static "js/vote.js" %}"></script>
{% block jscode %}
{% endblock jscode %}
</body>
</html>
