{% extends "include/base-iteraction.html" %}

{% block content %}
    <div class="row position-sticky mb-auto">
        <div class="fs-4 text-decoration-underline"> {{ cur_question.title }}</div>
        <div class="text-wrap text-break">
            {{ cur_question.text }}
        </div>
    </div>
    <div class="row container">
        <div class="col-12">
            <a>Tags:
                <a href="{% url "cur_tag" pk='Perl' %}">Perl</a>
                <a href="{% url "cur_tag" pk='Mail.ru' %}">Mail.ru</a>
            </a>
        </div>
    </div>
{% endblock content %}