{% load static %}

<div class="w-100"></div>
<div class="col-6">
    <a class="text-dark" href="{% url "login" %}">Log in</a>
</div>
<div class="col-6">
    <a class="text-dark" href="{% url "signup" %}">Register</a>
</div>