{% load static %}

<div class="row">
    <img src="{{ obj.user.profile.avatar.url }}" class="rounded-circle img-profile">

        <div class="col-12 fs-4">
            <a> {{ obj.user.username }} </a>
        </div>
        <div class="col-12 align-self-center align-items-end">
            <a> {{ obj.pub_date }} </a>
        </div>

    <div class="btn-group pt-1" role="group">
        <button type="js-vote" data-action="dislike" data-id="{{ obj.id }}" data-type="question" class="btn btn-danger rounded-pill me-2">-
            <span class="badge rounded-pill bg-secondary">
                {{ obj.dislikes }}
            </span>
        </button>
        <button type="js-vote" data-action="like" data-id="{{ obj.id }}" data-type="question" class="btn btn-success rounded-pill">+
            <span class="badge rounded-pill bg-secondary">
                {{ obj.likes }}
            </span>
        </button>
    </div>
</div>
