<div class="container mb-3 mt-3">
    <div class="bg-light p-3 rounded">
        <p class="fs-2 text-center">Best Members</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light">V. Pupkin</li>
            <li class="list-group-item bg-light">Mr. Freeman</li>
            <li class="list-group-item bg-light">Bender</li>
            <li class="list-group-item bg-light">Dr. House</li>
            <li class="list-group-item bg-light">Queen Victoria</li>
        </ul>
    </div>
</div>