{% load static %}

<nav class="navbar navbar-expand-md navbar-light fixed-top" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand fs-4 " href="{% url "main_page" %}">AskMe</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="d-flex col-6">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-line">
                <a class="btn btn-success" href="{% url "ask" %}" role="button">Ask</a>
            </form>
            <div class="navbar-nav mb-2 mb-md-0 ms-auto">
                <div class="row">
                    {% if user.is_authenticated %}
                        {% include "include/auth-navbar.html" %}
                    {% else %}
                        {% include "include/guest-navbar.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>