<nav aria-label="Page navigation example">
    <ul class="pagination ps-4">
        {% if page.paginator.num_pages > 1 %}
            {% if page.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page.previous_page_number }}" class="page-link">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for num in page.paginator.page_range %}
                <li class="page-item">
                    {% if page.number == num %}
                        <a href="#" class="page-link"><strong>{{ num }}</strong></a>
                    {% elif num > page.number|add:'-3' and num < page.number|add:'3' %}
                        <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}" class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            {% endif %}
        {% endif %}
    </ul>
</nav>