{% extends "include/base-iteraction.html" %}

{% block content %}
    <div class="row position-sticky mb-auto">
        <a href="{% url "cur_question" pk=question.id %}" class="fs-4 stretched-link">{{ question.title }}</a>
        <div class="text-wrap text-break">
            {{ question.text }}
        </div>
    </div>
    <div class="row container">
        <div class="col-4">
            <a href="{% url "cur_question" pk=question.id %}">Answers ({{ question.answers }})</a>
        </div>
        <div class="col-8">
            <a>Tags:
                {% for tag in question.tags.all %}
                    <a class="pe-2" href="{% url "cur_tag" pk=tag %}"> {{ tag.name }} </a>
                {% endfor %}
            </a>
        </div>
    </div>
{% endblock content %}