<div class="container mb-3 mt-3">
    <div class="bg-light p-3 rounded">
        <p class="fs-2 text-center">Popular Tags</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light"><a class="stretched-link fs-3 text-decoration-none link-danger" href="{% url "cur_tag" pk='Python' %}">Python</a></li>
            <li class="list-group-item bg-light"><a class="stretched-link fs-4 text-decoration-none link-warning" href="{% url "cur_tag" pk='MySQL' %}">MySQL</a></li>
            <li class="list-group-item bg-light"><a class="stretched-link fs-5 text-decoration-none link-success" href="{% url "cur_tag" pk='Mail.ru' %}">Mail.ru</a></li>
            <li class="list-group-item bg-light"><a class="stretched-link fs-5 text-decoration-none link-dark" href="{% url "cur_tag" pk='Perl' %}">Perl</a></li>
            <li class="list-group-item bg-light"><a class="stretched-link fs-5 text-decoration-none link-dark" href="{% url "cur_tag" pk='PHP' %}">PHP</a></li>
        </ul>
    </div>
</div>