<div class="container mb-3 mt-3">
    <form class="bg-light p-3 rounded" action="/answer/" method="post">
        {% csrf_token %}
        <div class="form-floating">
            <input type="hidden" name="pk" value="{{ cur_question.id }}" />
            <textarea name="text" class="form-control" placeholder="Enter your answer here..." id="floatingTextarea" rows="3" autocomplete="off"></textarea>
            <label for="floatingTextarea">Your answer</label>
            <button type="submit" class="btn btn-success mt-3">Answer</button>
        </div>
    </form>
</div>