{% load bootstrap4 %}

<div class="container mb-3 mt-3">
    <form class="bg-light p-3 rounded" action="/ask/" method="POST">
        {% csrf_token %}
	    {% bootstrap_form form %}
	    {% buttons %}
    	<button type="submit" class="btn btn-success mt-3">
    	    Ask
    	</button>
    	{% endbuttons %}
    </form>
</div>