{% load static %}
{% load bootstrap4 %}


<div class="container mb-3 mt-3">
    <form class="bg-light p-3 rounded" action="/settings/" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
    	{% buttons %}
    	<button type="submit" class="btn btn-success mt-3">
    	    Save
    	</button>
    	{% endbuttons %}
    </form>
</div>