body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

#navbar {
    background-color: #8ddbff;
}

#search-line {
    max-width: 400px;
}

nav.navbar img {
    width: 50px;
}

.img-profile {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.h-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:1px;
    width:100%;
    border-top:2px solid gray;
}