{% extends "include/base.html" %}
{% load static %}

{% block content %}
    <div class="container mb-3 mt-3">
        <div class="bg-light p-3 rounded">
            <div class="row container">
                <div class="col-6 fs-3">
                    <a>Hot Questions</a>
                </div>
                <div class="col-6 align-self-center align-items-end">
                    <a href="{% url "main_page" %}">New Questions</a>
                </div>
            </div>
        </div>
    </div>

    {% for question in page %}
        {% include "include/question.html" with obj=question %}
    {% endfor %}

    {% include "include/paginator.html" %}
{% endblock content %}