{% extends "include/base.html" %}
{% load static %}

{% block content %}
    {% include "include/definite-question.html" with obj=cur_question %}
    <div class="h-divider"></div>
    {% for answer in page %}
        {% include "include/answer.html" with obj=answer %}
    {% endfor %}
    {% include "include/paginator.html" %}
    <div class="h-divider"></div>
    {% include "include/forms/answer.html" %}
{% endblock content %}