{% extends "include/base.html" %}
{% load static %}

{% block content %}
    <div class="container mb-3 mt-3">
        <div class="bg-light p-3 rounded">
            <div class="row container">
                <div class="fs-3">
                    <a>Tag: {{ tag }}</a>
                </div>
            </div>
        </div>
    </div>

    {% for question in page %}
        {% include "include/question.html" %}
    {% endfor %}

    {% include "include/paginator.html" %}
{% endblock content %}